
html {
    scroll-behavior: smooth;
}

body {
    font-family: "Rajdhani", sans-serif;
    background-color: rgb(0, 40, 60);
    color: #e0e0e0;
    margin: 0;
    padding: 0;
}


/* --------------------------------------------- */

/* ABOUT SECTION */

.about-section {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 40, 60, 0.5)),
            url('../assets/profile/bg.jpg') no-repeat center center/cover;
    min-height: 100vh;
    padding: 80px 0;
    opacity: 0;
    transform: translateY(50px);
    transition: all 0.6s ease-in-out;
}

.about-h1 {
    color: whitesmoke;
    font-size: 6rem;
    font: bold ;
    text-shadow: 2px 4px 6px #000000;
}

.about-h2 {
    color: whitesmoke;
    font-size: 3rem;
    font: bold ;
    text-shadow: 2px 4px 6px #000000;
}


.about-profile {
    box-shadow: 0 0 4px 8px rgba(0, 0, 0, 0.5);
}




/* --------------------------------------------- */

/* EDUCATION SECTION */

.education-section {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 40, 60, 0.85)),
            url('') no-repeat center center/cover;
    min-height: 100vh;
    padding: 80px 0;
    opacity: 0;
    transform: translateY(50px);
    transition: all 0.6s ease-in-out;
}

.education-h1 {
    color: #2de300;
    text-shadow: 2px 4px 6px #000000;
}

.about-h2 {
    color: whitesmoke;
    font-size: 3rem;
    font: bold ;
    text-shadow: 2px 4px 6px #000000;
}


.about-profile {
    box-shadow: 0 0 4px 8px rgba(0, 0, 0, 0.5);
}



section.in-view {
    opacity: 1;
    transform: translateY(0);
}

    .bg-violet {
    background-color: #300053;
}

.bg-deepblue {
    background-color: #0a1a3f;
}






/* --------------------------------------------- */

/* EDUCATION SECTION */

.projects-section {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 40, 60, 0.85)),
            url('') no-repeat center center/cover;
    min-height: 100vh;
    padding: 80px 0;
    opacity: 0;
    transform: translateY(50px);
    transition: all 0.6s ease-in-out;
}

.education-h1 {
    color: #2de300;
    font-size: 6rem;
    font: bold ;
    text-shadow: 2px 4px 6px #000000;
}

.about-h2 {
    color: whitesmoke;
    font-size: 3rem;
    font: bold ;
    text-shadow: 2px 4px 6px #000000;
}


.about-profile {
    box-shadow: 0 0 4px 8px rgba(0, 0, 0, 0.5);
}



section.in-view {
    opacity: 1;
    transform: translateY(0);
}

    .bg-violet {
    background-color: #300053;
}

.bg-deepblue {
    background-color: #0a1a3f;
}






/* --------------------------------------------- */

/* EDUCATION SECTION */

.achievements-section {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 40, 60, 0.85)),
            url('') no-repeat center center/cover;
    min-height: 100vh;
    padding: 80px 0;
    opacity: 0;
    transform: translateY(50px);
    transition: all 0.6s ease-in-out;
}

.education-h1 {
    color: #2de300;
    font-size: 6rem;
    font: bold ;
    text-shadow: 2px 4px 6px #000000;
}

.about-h2 {
    color: whitesmoke;
    font-size: 3rem;
    font: bold ;
    text-shadow: 2px 4px 6px #000000;
}


.about-profile {
    box-shadow: 0 0 4px 8px rgba(0, 0, 0, 0.5);
}



section.in-view {
    opacity: 1;
    transform: translateY(0);
}

    .bg-violet {
    background-color: #300053;
}

.bg-deepblue {
    background-color: #0a1a3f;
}






/* --------------------------------------------- */

/* EDUCATION SECTION */

.contact-section {
    background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 40, 60, 0.85)),
            url('') no-repeat center center/cover;
    min-height: 100vh;
    padding: 80px 0;
    opacity: 0;
    transform: translateY(50px);
    transition: all 0.6s ease-in-out;
}

.education-h1 {
    color: #2de300;
    font-size: 6rem;
    font: bold ;
    text-shadow: 2px 4px 6px #000000;
}

section.in-view {
    opacity: 1;
    transform: translateY(0);
}

    .bg-violet {
    background-color: #300053;
}

.bg-deepblue {
    background-color: #0a1a3f;
}






/* ----------------------------------------------- */


/* NAVBAR */

.nav-link {
    font-weight: bold;
    color: #2de300 ;
    padding: 0;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.5s ease, color 0.5s ease, transform 0.5s ease;
    margin-right: 5px;
}

.nav-link:hover {
    color: #fdc500;
    border-bottom: 2px solid #fdc500;
    transform: translateY(-2px);
}

.nav-link:after {
    color: #fdc500;
}

.light-bottom-shadow {
    box-shadow: 0 2px 6px rgba(5, 104, 153, 0.85);
}

.bg-icon {
    background-color: #21a400;
}


/* ----------------------------------------------- */


/* ----------------------------------------------- */


/* PROJECTS */

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 10px;
}


/* ----------------------------------------------- */


/* RESPONSIVE */

@media (max-width: 767px) {

    
    .education-h1 {
        font-size: 1.8rem;
    }

    .card-body p,
    .carousel-caption p {
        font-size: 0.9rem;
}

.bi-github,
.github,
.bi-facebook,
.facebook,
.bi-instagram,
.instagram {
    font-size: 2rem;
    padding: 0 2rem;
    align-items: center;
    text-align: center;
    margin-top: 2rem;
}



.education-section {
    padding: 60px 15px;
}

.projects-section {
    padding: 60px 15px;
}

.achievements-section {
    padding: 60px 15px;
}

.contact-section {
    padding: 60px 15px;
}

.navbar-brand {
        font-size: 1.2rem;
    }
}
